<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sit, tempora ipsam error iste, magnam et quo dolore quis veritatis vel, molestiae exercitationem perferendis? Quae reiciendis at ipsam id? Atque, distinctio! Similique quas provident harum explicabo in blanditiis id incidunt praesentium iste sapiente qui odio, ullam ea debitis! Ad consequatur, reprehenderit fugit assumenda incidunt necessitatibus dolores fuga ullam obcaecati, eligendi perspiciatis at dolor vero quisquam tenetur hic delectus impedit libero eum totam suscipit. Delectus totam similique atque, repellat minima, reprehenderit vero placeat laboriosam nam omnis fugit tempora, hic mollitia harum animi deserunt illum nihil labore officia tenetur nostrum debitis nesciunt necessitatibus inventore? Nihil doloremque sunt dignissimos earum, magni delectus recusandae quibusdam optio qui temporibus aliquid a quos tempora magnam numquam deserunt est aspernatur molestiae, repellendus ducimus suscipit unde esse, quae distinctio! Ducimus assumenda facilis dolores praesentium exercitationem quidem eos libero, accusamus nisi fugiat maxime, voluptatum minus dicta alias consequatur possimus dolorem! Cupiditate harum commodi doloribus est voluptatem quos ullam numquam. Vel, tempora minus saepe nisi quas ad nam, nihil exercitationem ullam facilis in! Distinctio quas voluptas vero, facilis ducimus voluptatibus deserunt eum aspernatur nulla. Ducimus, mollitia. Labore quo aperiam, incidunt perferendis omnis eius, tempore architecto maiores quisquam tenetur quod dolore?</p>
        </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
