<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>  <!-- Lenguaje propio de ejs para dar la propiedad extra a HTML tipo Js para utilizar el valor de title del index.js de routes pasando un dato desde el backend al frontend -->
</head>
<body>
    <h1>Hello</h1>
</body>
</html>